.container {
  margin: 30px;
  padding: 30px;
  width: auto;
  height: auto;
  border: 5px solid limegreen;

  .animat1 {
    @extend %square;
    border-color: lightskyblue;

    &:hover {
      animation: animat1 3s 0.5s 3;
      //animation-name: animation1;
      //animation-duration: 4s;
      //animation-delay: 0.5s;
      //animation-iteration-count: 3;
    }
  }

  .animat2 {
    @extend %square;
    border-color: lightskyblue;

    &:hover {
      animation: animat1 2s 0.5s infinite;
    }
  }

  .animat3 {
    @extend %square;
    border-color: rgb(9, 190, 9);

    &:hover {
      animation: animat3 2s forwards;
    }
  }

  .animat4 {
    @extend %square;
    border-color: rgb(230, 26, 185);

    &:hover {
      animation: animat4 12s 0.5s 1;
    }
  }

  .animat5 {
    @extend %square;
    border-color: rgb(230, 26, 185);

    &:hover {
      animation: animat5 12s 0.5s 1;
    }
  }

  .animat6 {
    @extend %indicator;
  }

  .animat6-line {
    @extend %line;
    width: 0%;
  }

  .animat6:hover .animat6-line {
    animation: animat6 3s 0.5s 1 forwards;
  }

  .animat7 {
    @extend %indicator;
  }

  .animat7-line {
    @extend %line;
    width: 0%;
  }
  .animat7:hover .animat7-line {
    animation: animat7 5s 0.5s infinite;
  }

  .animat8 {
    width: 500px;
    height: 500px;
    border: 5px solid lightgrey;
    margin-bottom: 30px;
  }

  .animat8-ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid red;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  }

  .animat8:hover .animat8-ball {
    animation: animat8 7s 0.5s 1 forwards;
  }

  .animat9 {
    @extend %indicator;
    height: 70px;
    border: none;
    margin-bottom: 30px;
  }

  .animat9-line {
    height: 100%;
    width: 15%;
    background-color: rgb(106, 166, 194);
    animation: animat9 3s 0.5s infinite paused;
  }

  .animat9:hover .animat9-line {
    animation: animat9 3s 0.5s infinite running;
  }

  .animat10 {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 0 5px 5px lightgrey;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    &:hover {
      .animat10-list {
        animation: animat10 5s 1 forwards;
      }
      .animat10-button {
        animation: animat11 5.5s 1 forwards;
      }
    }
  }
  .animat10-list {
    width: 30%;
    height: 400px;
    border-radius: 10px;
    //background-color: rgb(175, 172, 172);
    box-shadow: 0 0 5px 5px lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    transform: translateX(-123px);
  }

  .animat10-item {
    list-style-type: none;
    width: 100%;
    height: 35px;
    font-size: 12px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .animat10-item:nth-child(2) {
    background-color: royalblue;
    color: white;
  }

  .animat10-link {
    text-decoration: none;
  }

  .animat10-button {
    width: 35px;
    height: 25px;
    border: none;
    border-radius: 5px;
    padding: 3px;
    background-color: royalblue;
    background-image: url(./../images/header-burger-menu-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 30px;
    right: 20px;
    transform: translateX(57px);
  }

  .animat12 {
    width: 110px;
    height: 110px;
    border: 5px solid #e2264d;
    background-image: url(./../images/heart-sprite.png);
    background-repeat: no-repeat;

    &:hover {
      //animation: animat12 29s steps(29) forwards;
      animation: animat12 1s steps(29) forwards;
    }
  }

  @keyframes animat1 {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(1725px);
    }
  }

  @keyframes animat3 {
    from {
      background-color: white;
    }
    to {
      background-color: rgb(9, 190, 9);
    }
  }

  @keyframes animat4 {
    0% {
      transform: translate(0, 0);
    }
    5% {
      transform: translate(0, -25px);
    }
    45% {
      transform: translate(1725px, -25px);
    }
    50% {
      transform: translate(1725px, 25px);
    }
    95% {
      transform: translate(0px, 25px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes animat5 {
    0% {
      transform: translate(0, 0);
      background-color: white;
    }

    5% {
      transform: translate(0, -25px);
    }

    40% {
      transform: translate(1724px, -25px);
      background-color: white;
    }

    45% {
      transform: translate(1725px, -25px);
      background-color: rgb(230, 26, 185);
    }

    50% {
      transform: translate(1725px, 25px);
      background-color: white;
    }

    90% {
      transform: translate(1px, 25px);
      background-color: white;
    }

    95% {
      transform: translate(0px, 25px);
      background-color: rgb(230, 26, 185);
    }

    100% {
      transform: translate(0, 0);
      background-color: white;
    }
  }

  @keyframes animat6 {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes animat7 {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes animat8 {
    0% {
      transform: translate(0, 0);
    }

    10% {
      transform: translate(60px, 440px);
      animation-timing-function: ease-in;
    }

    20% {
      transform: translate(140px, 320px);
      animation-timing-function: ease-out;
    }

    35% {
      transform: translate(210px, 440px);
      animation-timing-function: ease-in;
    }

    45% {
      transform: translate(280px, 390px);
      animation-timing-function: ease-out;
    }

    65% {
      transform: translate(340px, 440px);
      animation-timing-function: ease-in;
    }

    75% {
      transform: translate(380px, 430px);
      animation-timing-function: ease-out;
    }

    100% {
      transform: translate(440px, 440px);
      animation-timing-function: ease-in;
    }
  }

  @keyframes animat9 {
    0% {
      width: 15%;
    }
    50% {
      width: 100%;
      background-color: blueviolet;
    }
    100% {
      width: 15%;
      background-color: rgb(106, 166, 194);
    }
  }

  @keyframes animat10 {
    0% {
      transform: translateX(-123px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes animat11 {
    0% {
      transform: translateX(57px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes animat12 {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: -2900px;
    }
  }
}
